---
layout: default
title: A Guide
---


{% for collection in site.collections %}
	{% if collection.label != "posts" %}
		<h1>Chapter {{ forloop.index | minus: 1 }} &mdash; {{ collection.label }}</h1>

		{% assign sorted = (collection.docs | sort: 'section') %}
		{% for section in sorted %}
			<p>
				{% if section.subsection %}
					<h4>
				{% else %}
					<h3>
				{% endif %}

				{{ section.chapter }}.{{ section.section }}
				<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
				{% if section.difficulty %} <span class="{{ section.difficulty }}">({{ section.difficulty }})</span> {% endif %}

				{% if section.subsection %}
					</h4>
				{% else %}
					</h3>
				{% endif %}

				{%  if section.description %}
					<span class="section-description">{{ section.description }}</span>
				{% endif %}
			</p>
		{% endfor %}
	{% endif %}
{% endfor %}
<br><hr><br>





<!--	#########################################################	 -->
<br><br>

<div class="panel callout radius">
<p>This is not exhaustive documentation on <em>every</em> feature StepMania 5 offers.  This is a collection of writings by one person on topics he found especially helpful or interesting.</p>

<p>The closest thing to proper API documentation that SM5 currently has is its <strong>Lua.xml</strong> file, which comes with StepMania 5 in the <em>./Docs/Luadoc/</em> directory and can be viewed in most web browsers.  I have also hosted a copy here: <a href="{{ site.baseurl }}/API/Lua.xml">Lua For SM5: Lua API</a>.</p>

<p>-Dan Guzek<br>October 7, 2015</p>
</div>

