---
layout: default
title: A Guide
---

<div class="panel callout radius">
<p>This is not exhaustive documentation on <em>every</em> feature StepMania 5 offers.  This is a collection of writings by one person on topics he found especially helpful or interesting.</p>

<p>The closest thing to proper API documentation that SM5 currently has is its <strong>Lua.xml</strong> file, which ships with StepMania in the <em>./Docs/LuaDocs/</em> directory and can be viewed in Firefox.</p>

<p>-dbk2<br>August 22, 2015</p>
</div>


<!--	CHAPTER 0 	-->

<h1>Chapter 0 &mdash; Considerations</h1>
{% assign sorted = (site.collections.chapter_0.docs | sort: 'section') %}
{% for section in sorted %}
	<h3>
		{{ section.chapter }}.{{ section.section }}
		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
	</h3>
{% endfor %}


<!--	CHAPTER 1	 -->

<h1>Chapter 1 &mdash; Actors</h1>
{% assign sections = (site.collections.chapter_1.docs | sort: 'section' ) %}
{% for section in sections %}
		{% if section.subsection == nil %}
			<h3>
				{{ section.chapter }}.{{ section.section }}
				<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
				{% if section.difficulty != null %}
					<span class="{{ section.difficulty }}">({{ section.difficulty }})</span>
				{% endif %}
			</h3>
		{% else %}
			<h4>
				{{ section.chapter }}.{{ section.section }}.{{ section.subsection }}
				<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
				{% if section.difficulty != null %}
					<span class="{{ section.difficulty }}">({{ section.difficulty }})</span>
				{% endif %}
			</h4>
		{% endif %}
{% endfor %}







<!--	CHAPTER 2	 -->

<h1>Chapter 2 &mdash; Singletons</h1>

<h3>
	2.1
	SCREENMAN
</h3>

	<h4>
		2.1.2
		AddNewScreenToTop()
	</h4>

<h3>
	2.2
	FILEMAN
</h3>


<h3>
	2.3
	SOUND
</h3>


<!--	CHAPTER 3	 -->

<h1>Chapter 3 &mdash; NameSpaces</h1>

<h3>
	3.1.1
	RageFileUtil
</h3>

<h3>
	3.1.2
	Enum
</h3>


<!--	CHAPTER 3	 -->

<h1>Chapter 4 &mdash; Examples</h1>

<h3>
	4.1
	How to capture arbitrary input with Screen:AddInputCallback()
</h3>

