---
layout: default
title: A Guide
---

<!--	#########################################################	 -->
<!--	CHAPTER 0 	-->

<h1>Chapter 0 &mdash; Considerations</h1>
{% assign sorted = (site.collections.Considerations.docs | sort: 'section') %}
{% for section in sorted %}
	<h3>
		{{ section.chapter }}.{{ section.section }}
		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
	</h3>
{% endfor %}

<br><hr><br>


<!--	#########################################################	 -->
<!--	CHAPTER 1	 -->

<h1>Chapter 1 &mdash; Actors</h1>
{% assign sections = (site.collections.Actors.docs | sort: 'section' ) %}
{% for section in sections %}
	<p>
		{% if section.subsection %}
			<h4>
		{% else %}
			<h3>
		{% endif %}

		{{ section.chapter }}.{{ section.section }}
		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
		{% if section.difficulty %} <span class="{{ section.difficulty }}">({{ section.difficulty }})</span> {% endif %}

		{% if section.subsection %}
			</h4>
		{% else %}
			</h3>
		{% endif %}

		{%  if section.description %}
			<span class="section-description">{{ section.description }}</span>
		{% endif %}
	</p>
{% endfor %}

<br><hr><br>

<!--	#########################################################	 -->
<!--	CHAPTER 2	 -->

<h1>Chapter 2 &mdash; Singletons</h1>
{% assign sections = (site.collections.Singletons.docs | sort: 'section' ) %}
{% for section in sections %}
	<p>
		{% if section.subsection %}
			<h4>
		{% else %}
			<h3>
		{% endif %}

		{{ section.chapter }}.{{ section.section }}
		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
		{% if section.difficulty %} <span class="{{ section.difficulty }}">({{ section.difficulty }})</span> {% endif %}

		{% if section.subsection %}
			</h4>
		{% else %}
			</h3>
		{% endif %}

		{%  if section.description %}
			<span class="section-description">{{ section.description }}</span>
		{% endif %}
	</p>
{% endfor %}

<br><hr><br>

<!--	#########################################################	 -->
<!--	CHAPTER 3	 -->

<h1>Chapter 3 &mdash; NameSpaces</h1>

<h3>
	3.1.1
	RageFileUtil
</h3>

<h3>
	3.1.2
	Enum
</h3>

<br><hr><br>

<!--	#########################################################	 -->
<!--	CHAPTER 4	 -->

<h1>Chapter 4 &mdash; Examples</h1>

{% assign sections = (site.collections.Examples.docs | sort: 'section' ) %}
{% for section in sections %}
		{% if section.subsection %}
			<h4>
		{% else %}
			<h3>
		{% endif %}

		{{ section.chapter }}.{{ section.section }}
		<a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a>
		{% if section.difficulty %} <span class="{{ section.difficulty }}">({{ section.difficulty }})</span> {% endif %}

		{% if section.subsection %}
			</h4>
		{% else %}
			</h3>
		{% endif %}
{% endfor %}







<!--	#########################################################	 -->
<br><br>

<div class="panel callout radius">
<p>This is not exhaustive documentation on <em>every</em> feature StepMania 5 offers.  This is a collection of writings by one person on topics he found especially helpful or interesting.</p>

<p>The closest thing to proper API documentation that SM5 currently has is its <strong>Lua.xml</strong> file, which comes with StepMania 5 in the <em>./Docs/Luadoc/</em> directory and can be viewed in most web browsers.  I have also hosted a copy here: <a href="{{ site.baseurl }}/API/Lua.xml">Lua For SM5: Lua API</a>.</p>

<p>-Dan Guzek<br>October 7, 2015</p>
</div>

