div.LuaAPI{

	// API Categories include: ActorClases, Namespaces, Enums, Singletons, GlobalFunctions, Constants
	h2.API-Category {
		margin: 0.5em 0em;
		padding: 0.2em 0em 0.2em 1em;
		color: #fff;
		background-color:rgb(103, 107, 111);
		cursor: pointer;

		&:after{
			content: " ▴";
		}

		&.collapsed:after{
			content: " ▾";
		}
	}


	// div.actor-class is used for both classes of Actors such as ActorFrame, ActorMultiVertex, BitmapText, etc.
	// as well as Namespaces (out of convenience) such as ActorUtil, ArrowEffects, RageFileUtil, etc.
	div.actor-class{

		hr{
			border-bottom: 1px solid #000;
			margin: 0em;
		}

		// the "chain-link" icon that users click on to update the url string for permalinking
		// ActorClasses each get their own octicon link,
		// and ActorClass Methods each get their own octicon link as well
		span.octicon{
			opacity: 0;
		}

		h3{
			margin: 0.5em 0em 0em 0em;
			padding: 0.2em 0em;
			text-indent: -0.6em;

			span.octicon{
				font-size: 0.8em;
				width: 0.8em;
			}

			&:hover{
				span.octicon{
					opacity: 1;
					&:hover{
						cursor: pointer;
					}
				}
			}

			// "base" is the Actor class that this Actor class inherits from
			span.base{
				font-size: 98%;
				font-weight: 200;
			}
		}

		// div.method is a CSS class for each method belonging to a particular ActorClass
		div.method{

			margin-top: 1.5em;

			div.method-signature{
				font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
				font-weight: bold;
				text-indent: -1em;

				span.octicon{
					font-size: 1em;
					width: 1em;
				}

				&:hover{
					span.octicon{
						opacity: 1;
						&:hover{
							cursor:pointer;
						}
					}
				}

				code{
					font-weight: normal;
				}
			}

			span.method-return{
				display:block;
			}

			span.method-description{
				margin-left:1em;
				display:block;

				// treat <br> elements within method-description spans more like paragraphs
				// see: https://stackoverflow.com/a/31633969
				br{
					display: block;
					content: "";
					margin-bottom: 0.5em;
				}
			}
		}
	}

	#Enums + div > table{
		margin: 1em 0em 0em 0em;
	}
}