div.LuaAPI{

	// for hightlightjs code examples
	pre{
		margin: 0.5em 0em;
		code{
			border-radius: 8px;

			&.hljs{
				// need to explicitly set "word-wrap: normal;" and "overflow-x: scroll;"
				// for Safari, both macOS and iOS
				// otherwise multiline code.hljs blocks wrap lines
				// instead of allowing horizontal scrolling
				// normally, auto wrapping lines of text is good
				// but it's less good for code examples
				word-wrap: normal;
				overflow-x: scroll;
			}
		}
	}

	// -------------------------------------------------------

	// the "chain-link" icon that users click on to update the url string for permalinking
	// ActorClasses each get their own octicon link,
	// and ActorClass Methods each get their own octicon link as well
	span.octicon-link{
		opacity: 0;
		display: inline-block;
		&:hover{
			cursor:pointer;
		}
	}

	// API Categories include: ActorClases, Namespaces, Enums, Singletons, GlobalFunctions, Constants
	h2.API-Category-Header {
		margin: 0.5em 0em;
		padding: 0.2em 0.5em;
		color: #fff;
		background-color:rgb(103, 107, 111);
		display: flex;
		justify-content: flex-start;

		&.sticky{
		  position: -webkit-sticky;
		  position: sticky;
		  top: 48px;
		}

		span.octicon-link{
			color:rgb(92, 96, 100);
			margin: 0.1em 0.5em 0em -1.85em;
		}

		&:hover{
			span.octicon-link{
				opacity: 1;
			}
		}
	}

	h3.API-Category-Header {
		position: -webkit-sticky;
		position: sticky;
		background-color: #ffffff;
		top: 48px;

		hr {
			margin-top: 4px;
		}
	}

	div.section-child{
		h3{
			margin: 0em;
			padding: 0.2em 0em;
			text-indent: -0.6em;

			span.octicon-link{
				color:rgb(92, 96, 100);
				svg{ scale: 0.75; }
			}

			&:hover{
				span.octicon-link{
					opacity: 1;
				}
			}
		}
	}



	hr{
		border-bottom: 1px solid #000;
		margin: 0em 0em 0.1em 0em;
	}

	h3{
		// "base" is the Actor class that this Actor class inherits from
		span.base{
			font-size: 98%;
			font-weight: 200;
		}
	}

	// treat <br> elements within <Description> tags
	// more like paragraphs; see: https://stackoverflow.com/a/31633969
	.description
	{
		margin-bottom: 1em;

		br{
			display: block;
			content: "";
			margin-bottom: 0.5em;
		}
	}

	// div.method is a CSS class for each method belonging to a particular ActorClass
	div.method{

		margin-bottom: 1.5em;


		div.method-signature{
			font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
			font-weight: bold;
			text-indent: -0.5em;

			span.octicon-link{
				margin-left: -0.25em;
				margin-right: 0.25em;
				position:relative;
				bottom: 2px;
				svg{ scale: 1.1; }
			}

			&:hover{
				span.octicon-link{
					opacity: 1;
				}
			}

			code{
				font-weight: normal;
			}
		}

		span.method-return{
			display:block;
		}

		span.description{
			margin-left:1em;
			display:block;
		}
	}

	a.logo-github{
		margin-left: 0.85em;
		text-decoration: none;
		position:relative;
		bottom: 0.125em;

		// ensure that the github logo anchors scroll underneath the sticky headers
		svg{
			position: relative;
			z-index: -1;
		}
	}

	div.enum{
		table{
			margin: 0.5em 0em 0em 0em;
		}
	}
}


// -------------------------------------------------------
// dark mode

html[data-bs-theme='dark']{
	h3.API-Category-Header {
		background-color:var(--bs-body-bg)
	}
}