// -------------------------------------------------------
// general elements

html, body{
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1{
	font-size: 2.25rem;
}
h2{
	font-size: 1.7rem;
	font-weight:normal;
}

a{
	color: rgb(33, 136, 255);
}

// -------------------------------------------------------

#topbar{
	padding: 2px 0px;
	background-color: #282828;

	a.nav-link{
		font-weight:lighter;
		font-size: 1.15em;
	}
}

// -------------------------------------------------------

#content{
	padding-top: 2em;
	padding-bottom: 2em;

	p{
		margin-top: 1.5em;
		line-height: 1.55;
	}

	ul li{
		max-width: 42em;
	}
}

// -------------------------------------------------------

.sidebar{
	background-color: #f7f7f7;
	border-right: 1px solid #ececec;
	padding: 0em 0.5em;
	overflow-x: auto;

	a{
		color: #000000;
		text-decoration:none;
	}

	ul{
		padding-left: 0.75em; // indent less
		list-style-type: none;
	}

	section{
		// in the LuaAPISidebar, h5 elements that are children of section elements
		// denote that this h5 will expand when clicked
		// this includes: Classes, Singletons, Namespaces, Enums
		h5{
			margin-top: 0.25em;
			padding: 0.25em 0em 0.25em 2em;

			// span is nested in section h5 and handles url hash updating onClick
			// these were orginally normal <a href="#thing"> elements but I think
			// Bootstrap's collapse component was interfering with hash updating
			span{
				// specify to be 100% width so that clickable area is as wide as
				// possible for the the jsx onClick
				width: 100%;
			}

			// pull the caret symbol right
			&::after{
				margin-right: -1em;
			}


			// --------------------------------------------------------
			// this h5 width and h5.expandable width will only apply when
			// Bootstrap is at xs, sm, or md
			// they are overrideen by the @media query below for lg and xl
			width: 95%;
			&.expandable{
				//	keep h5.expandable at 80% width so that :hover
				// background-color effect does not include caret symbol
				width: 85%;
			}
			// --------------------------------------------------------
		}


		// TODO: change these sidebar H5 elements to be semantically meaningful
		h5, li a{
			font-weight:400;
			display: flex;
			justify-content: space-between;
			width: 100%;
			border-radius: 0.25em;

			&:hover{
				cursor: pointer;
				background-color: #e5e5e5;
			}
		}

		li a{
			padding: 0.25em 0em 0.25em 3em;
		}

		h5.expandable{

			&::after{
				background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(33,37,41,1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
				background-size: 2rem 2rem;
				padding: 0.5em;
				background-position: 50%;
				content: " ";
				display: block;
			}

			&.collapsed::after{
				content: " ";
				transform: rotateX(180deg);
			}
		}
	}

	#GuidesSidebar{
		// #LuaAPISidebar doesn't need an explicit margin-top
		// as div.sidebar-filter at the top pushes items down
		margin-top:16px;

		// used to highlight the guide currently being viewed
		//	.active class handled by react-router-dom NavLink
		.active{
			color: #f92672;   // pink
		}
	}

	#LuaAPISidebar{
		margin-bottom: 100px;

		// the LuaAPI <input> used to filter the API doc is sticky-top, so
		// it needs a background-color to cover text that scrolls under it
		div.sidebar-filter{
			padding-top: 8px;
			background-color: #f7f7f7;

			div.version{
				text-align:center;
				padding-bottom: 8px;

				span{ display: block; }

				span.smversion{
					font-size: 1.3em;
				}
				span.githash{
					font-size: 0.85em;
					line-height:95%;
					a{
						color: rgb(33, 136, 255);
					}
				}
			}
		}
	}
}

// -------------------------------------------------------
// rules that will only apply when Bootstrap is in lg and xl

@media only screen and (min-width : 767px) {
	#content{
		max-width: 780px;
	}

	.sidebar{
		min-width:230px;
		max-width:300px;

		#GuidesSidebar, #LuaAPISidebar{
			section h5{
				width: 100%;
				padding-left: 0.5em;

				&.expandable{
					// keep h5.expandable at 80% width so that :hover
					// background-color effect does not include caret symbol
					width: 80%;
				}
			}
		}

		section{
			li a{
				padding-left: 0.65em;
			}
			h5{
				// pull the caret symbol further right
				&::after{
					margin-right: -2em;
				}
			}
		}
	}
}

// -------------------------------------------------------

span.CodeExample-Title{
	background-color: #23241f;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 0.85em;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

span.CodeExample-Title + pre{
	margin-top: 6px;
}

pre {
	-moz-tab-size: 4;
	tab-size: 4;
}

code{
	max-width: 65em;
	border-radius: 0px 8px 8px 8px;
}

// use no-transition to override Bootstrap's collapse animation
.no-transition {
	-webkit-transition: height 0.01s;
	-moz-transition: height 0.01s;
	-ms-transition: height 0.01s;
	-o-transition: height 0.01s;
	transition: height 0.01s;
}

// -------------------------------------------------------

// #mobileNav is full screen navigation menu for mobile
// toggled into view via mobileNavToggle button
#mobileNav{
	position:fixed;
	top: 48px; // offset to accommodate #topbar
	left: 0;
	background-color: #eeeeee;
}

#mobileNavToggle{
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;

	.bar1, .bar2, .bar3 {
	  width: 25px;
	  height: 2px;
	  background-color: #6c757d;
	  margin: 6px 0;
	  transition: 0.4s;
	}

	/* Rotate first bar */
	.bar1.x {
	  -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
	  transform: rotate(-45deg) translate(-6px, 6px) ;
	}

	/* Fade out the second bar */
	.bar2.x {
	  opacity: 0;
	}

	/* Rotate last bar */
	.bar3.x {
	  -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
	  transform: rotate(45deg) translate(-6px, -6px) ;
	}
}