<!DOCTYPE html>
<html>
	<head>
	    <meta charset='utf-8'>
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>

	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/syntax-highlight.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-light.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">
	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/foundation.min.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">


		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	    <script src="{{ site.baseurl }}/javascripts/vendor/foundation.min.js"></script>
	    <script src="{{ site.baseurl }}/javascripts/vendor/what-input.js"></script>

	    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-11845182-2', 'auto');
			ga('send', 'pageview');
		</script>

		<link rel="icon" href="favicon.ico">
		<title>Lua for SM5: {{ page.title }}</title>
	</head>

	<body>

		<header id="header">
			<div class="inner">
				<div class="title">
					<a href="{{ site.baseurl }}/">
						<h1>
							Lua Scripting for StepMania 5 <img src="{{ site.baseurl }}/images/sm5-logo.png">
						</h1>
					</a>
				</div>
			</div>
		</header>


		<div id="content-wrapper">

			<div data-sticky-container>
				<div class="sticky" data-sticky data-anchor="main-content" data-margin-top="0" style="width:100%;">
					<div class="top-bar">

						<div class="top-bar-left">
							<ul class="dropdown menu" data-dropdown-menu>
								<li class="menu-text"><a href="{{ site.baseurl }}/">Lua for SM5</a></li>
								<li class="divider"></li>

								<li>
									<a href="#">Chapters</a>
									<ul class="menu vertical submenu">
									{% assign collections = site.collections | sort: "sequence" %}
									{% for collection in collections %}
										{% if collection.label != "posts" %}

										<li>
											<a href="#">{{ collection.sequence }} &mdash; {{ collection.label | replace: "_", " " }}</a>

											<ul class="menu vertical subsubmenu">
											{% assign sorted = (collection.docs | sort: 'section') %}
											{% for section in sorted %}
												<li><a href="{{ site.baseurl }}{{ section.url }}">{{ section.title }}</a></li>
												<li class="divider"></li>
											{% endfor %}
											</ul>
										</li>
										<li class="divider"></li>

										{% endif %}
									{% endfor %}
									</ul>
								</li>
								<li class="divider"></li>

								<li><a href="{{ site.baseurl }}/API/Lua.xml">Full API</a></li>
								<li class="divider"></li>

								<li><a href="{{ site.baseurl }}/resources.html">Other Resources</a></li>
								<li class="divider"></li>

							</ul>
						</div>

						<div class="top-bar-right"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="columns small-12 clearfix">
					<section id="main-content">
						{{ content }}
					</section>
				</div>
			</div>
		</div>

		<hr>

		<footer>
  			<p class="repo-owner">
				This project is maintained by <a href="https://github.com/dguzek">Dan Guzek</a>
				and is hosted through  <a href="https://pages.github.com">GitHub Pages</a>.
			</p>
			<p>
				This site was <a href="https://github.com/dguzek/Lua-For-SM5/commits/gh-pages">last updated</a> on

				{{ site.time | date: "%B %d, %Y" }} at
				{% capture hour %}{{ site.time | date: "%H" }}{% endcapture %}
				{% capture minute %}{{ site.time | date: "%M" }}{% endcapture %}
				{{hour}}:{{minute}}	EST.

			</p>
		</footer>

		<script>
			$(document).foundation();
		</script>
	</body>
</html>